<script src="../js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/bootstrap-filestyle.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script src="../js/smooth_scrolling.js" type="text/javascript"></script>
<script src="../js/chosen.jquery.js" type="text/javascript"></script>
<script src="../js/chosen.js" type="text/javascript"></script>
<script src="../bower_components/bower-angular-master/angular.js"></script>
<script src="../bower_components/bower-angular-sanitize-master/angular-sanitize.js"></script>
<script src="../bower_components/ui-select-master/dist/select.js"></script>
<script src="../js/app.js"></script>