<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="../css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="../css/chosen.css"/>
<link rel="stylesheet" href="../bower_components/ui-select-master/dist/select.css"/>
<link rel="stylesheet" href="../css/bootstrap.min.css"/>
<link rel="stylesheet" href="../css/style.css"/>
<link rel="icon" href="../favicon.ico"/>